<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Torna alla Home</a>
        @RenderBody()
    </div>
</body>
</html>
